<nav>
  <a routerLink="/payment-details"
    ><div class="button"><button *ngIf="!clicked"
      mat-raised-button
      color="accent"
      (click)="clicked = true"
    >
      Add Credit Card
    </button></div></a
  >
</nav>
<!-- Table -->
<div *ngIf="dataSource?.length > 0 && !clicked">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item"><mat-checkbox color="primary"></mat-checkbox></mat-cell>
  </ng-container>

    <!-- Card Number Column -->
    <ng-container matColumnDef="cardNumber">
      <th mat-header-cell *matHeaderCellDef>Card Number</th>
      <td mat-cell *matCellDef="let cardDetail">{{ cardDetail.cardNumber }}</td>
    </ng-container>

    <!-- Card Holder Column -->
    <ng-container matColumnDef="cardHolder">
      <th mat-header-cell *matHeaderCellDef>Card Holder</th>
      <td mat-cell *matCellDef="let cardDetail">{{ cardDetail.cardHolder }}</td>
    </ng-container>

    <!-- Expiration Date Column -->
    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
      <td mat-cell *matCellDef="let cardDetail">{{ cardDetail.expiryDate }}</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let cardDetail">{{ cardDetail.amount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- Table Ends -->
<router-outlet></router-outlet>
